/* textarea */
.code {
  width: 100%;
}

.code,
.hljs > code,
.hljs > code > *,
.hljs {
  font-family: monospace;
  font-size: 0.95em;
  line-height: 1.1em;
}

.hljs {
  margin: 0;
}

textarea {
  line-height: 1.2em;
}
